body {
  background-color: #f2b8b440;
}

.brand-color-purple {
  color: #381010;
}

.brand-bg-white {
  background-color: white;
}

.brand-bg-yellow {
  background-color: #ffecbe90;
}

/* Customize the v-card class from Vuetify */

.v-card:hover {
  cursor: grab;
}

.v-card:active {
  cursor: grabbing;
}
